body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.choice {
    height: 150px;
    width: 150px;
    font-size: 25px;
    margin: 10px;
    background-color: grey;
}

.choice:hover {
    transform: scale(1.2);
}

#title {
    font-size: 60px;
    margin-bottom: 50px;
}

#reset {
    margin-top: 10px;
}
