body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}